body{
    margin: 0;
    padding: 0;
}

.bg-purple{
    background-color: rgb(209, 120, 218);
}

.btnBlack{
    background-color: white;
}

.btnBlack:hover{
    font-size: 16px;
    font-weight: bold;
    background: black;
    color: white;
    transition: 0.3s;
}

.page{
    cursor:pointer;
    transform: rotate(0deg);
    transition: 0.5s;
}

.page:hover{
    transform: rotate(360deg);
    transition: 0.5s;
}
.pageFooter{
    cursor:pointer;
}
.creation{
    transition: 0.4s;
    cursor:pointer;
}

.creation:hover{
    margin-top: -24px;
}